.vuuBlotter {
    --salt-text-primary-foreground: #858585;
    --vuuTable-font-size: 11px;
    font-weight: var(--salt-typography-fontWeight-semiBold);
    height: 100%;
}

.vuuBlotter .vuuTable-zebra {
    --row-background-even: var(--salt-container-secondary-background);
    --table-background: none !important;
  }

  .vuuBlotter .vuuTable-table {
    --vuuTableCell-border-bottomColor: #e6e6e6;
    --vuuTableCell-border-rightColor: #transparent;
  }

.vuuBlotter .vuuTableRow-even {
 background:   #f5f5f5;
}
  
.vuuBlotter .vuuBlotter-footer {
  flex: 22px 0 0;
  --saltToolbar-height: 20px;
  --saltToolbar-background: var(--salt-container-primary-background);
  border-top: solid 1px var(--salt-container-primary-borderColor);
  color: var(--salt-text-secondary-foreground);

}
